body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #004d40;
    color: white;
    padding: 1rem 0;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #e0e0e0;
    transform: scale(1.1);
}

nav ul li a.active {
    border-bottom: 2px solid #e0e0e0;
}

.section {
    padding: 2rem;
    margin: 2rem auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 800px;
}

.hero {
    text-align: center;
}

.hero img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.about, .portfolio {
    margin: 2rem auto;
    max-width: 800px;
    display: none; /* Hide sections initially */
}

.about.active, .portfolio.active {
    display: block; /* Show active section */
}

.hidden {
    display: none;
}

h1, h2 {
    color: #004d40;
}

h2 {
    margin-top: 1rem;
}

footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}
